body{
  font-family: 'Courier Prime', monospace;
  font-size: 22px
}

.latIzq{
  background-image: url(fondo.jpg);
  object-fit: cover;
  
}

.latDer{
  background-image: url(fondo.jpg);
  object-fit: cover;
}

.button{
  padding: 1rem 4rem;
  border-radius: 25px;
}

.logo {
  width: 15rem;
  height: 15rem;
  justify-content: center;
}

.icon{
  text-decoration-line: none;
  color: black;

}
.icons {
  text-decoration-line: none;
  color: black;
  font-family: 'Teko', sans-serif;
  font-size:2rem;
  font-weight: 300;
  
}